@font-face {
    font-family: 'Computer Modern Serif';
    src: url(fonts/cmunrm.ttf);
}

@font-face {
    font-family: 'Computer Modern Serif Gras';
    src: url(fonts/cmunbx.ttf);
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url(fonts/cmuntt.ttf);
}

body {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 20%;
    font-size: 1.3em;
    font-family: 'Computer Modern Serif', serif;
}

h1 {
    font-weight: 800;
    margin-bottom: 0;
    font-family: 'Computer Modern Serif Gras', serif;
}

p {
    margin-bottom: -5px;
}

a {
    color: inherit;
    outline: none;
}

#email {
    font-size: 0.8em;
    font-family: 'Computer Modern Typewriter', monospace;
}